body{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    background-color: black;
}
.nav-list{
    display: flex;
}
.nav-list > a{
    display: block;
    padding: 1.2em;
    color: aquamarine;
    font-size: 40px;
    text-decoration: none;
}
.nav-btn{
    display: none;
}

.nav-list a:hover{
    background-color: rgb(86, 86, 86);
}

h1{
    font-size: 50px;
    color: rgb(201, 240, 31);
    display: flex;
    justify-content: center;
}
h3{
    font-size: 36px;
    color: brown;
}
h6{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.con_img{
    display: flex;
    justify-content: center;
}

.cook_img{
    display: flex;
    justify-content: center
}
.cook_img> img{
    width: 70%;
}
p{
    font-size: 20px;
}
.ingridiety{
    margin-left: 100px;
}

@media (max-width: 1000px){
    .nav-btn{
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
        background-color: rgb(22, 22, 22);
        color: white;
        display: block;
        cursor: pointer;
    }

    .nav-list{
        display: none;
    }
    .nav-btn:hover{
        background-color: rgb (70 70 70);
    }
    .drop:hover .nav-list{
        display: block;
        position: absolute;
        right: 1px;
        background-color: rgb(22, 22, 22);
    }
    .navbar{
        justify-content: space-between;
    }
}

@media (max-width: 500px){
    body{
        width: 500px;
    }
}
